*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ::selection {
  background-color: #007661;
} */
body,
html {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
}
.height-100 {
  min-height: 100vh;
}

:root {
  /* --primary-color: #870d4d; */
  --primary-color: #ff8000;
  --primary-color-light: #bb4679;
  --primary-color-dark: #550025;
  --secondary-color: #ef9a9a;
  --secondary-color: #ff9933;
  --secondary-color-light: #ffbf80;
  --secondary-color-dark: #e67300;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 1);
}

.empty {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 19rem;
  font-size: 1.25rem;
}

.button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  font-weight: 600;
  background-color: transparent;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: border-color 200ms ease-out;
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 400ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 150ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
